ion-label {
    h1 {
        font-size: 16px;
        font-weight: 700;
    }
    p {
        font-size: 12px;
        font-weight: 300;

        span {
            color: var(--ion-color-medium);
            font-size: 10px;
        }
    }
}